<div class="recipient-data-review-table">
    <div class="table-header">
        <div>
            <h1 class="main-title">Recipient Data Review</h1>
            <h3 class="subtitle">Upload and review recipient data you want added to the portal.</h3>
        </div>

        <div class="header-buttons">
            <button class="btn primary upload-forms"><img src="../../assets/upload-icon-light.svg" class="upload-icon"/> Upload Forms</button>
            <button class="btn secondary upload-accounts"><img src="../../assets/upload-icon-dark.svg" class="upload-icon"/> Upload Accounts</button>
        </div>
    </div>
</div>