<div class="recipient-data-review-table-container">
    <div class="table-header">
        <div>
            <h2 class="main-title">Recipient Data Review</h2>
            <h3 class="subtitle">Upload and review recipient data you want added to the portal.</h3>
        </div>

        <div class="header-buttons">
            <button class="btn primary upload-forms" (click)="toggleUploadForms()"><img src="../../assets/upload-icon-light.svg" class="upload-icon"/> Upload Forms</button>
            <button class="btn secondary upload-accounts"><img src="../../assets/upload-icon-dark.svg" class="upload-icon"/> Upload Accounts</button>
        </div>
    </div>

    <table class="recipient-data-review-table">
      <tr class="header">
        <th>Company <img src="../../assets/sort-icon-grey.svg"/></th>
        <th>Form Type <img src="../../assets/sort-icon-grey.svg"/></th>
        <th>Tax Year <img src="../../assets/sort-icon-grey.svg"/></th>
        <th>File Type <img src="../../assets/sort-icon-grey.svg"/></th>
        <th>Status <img src="../../assets/sort-icon-grey.svg"/></th>
      </tr>

      @for (record of recipientDataReviewRecords; track record.id) {
        <tr>
          <td>{{record.companyName}}</td>
          <td>{{record.formType}}</td>
          <td>{{record.taxYear}}</td>
          <td>{{record.isFileProductionType ? "Production" : "Test"}}</td>
          <td [classList]="getStatusClass(record.status || 'Needs Review')"><div class="status-circle"></div>{{record.status || 'Needs Review'}}</td>
          <td><div class="review-page-circle" (click)="open($event, record.id)"><img src="../../assets/data-review-icon-light.svg"/></div></td>
        </tr>
      }
  </table> 
</div>

<p-confirmDialog styleClass="confirm-modal"></p-confirmDialog>
