* {
    --approved: #6B7280;
    --color-needs-review: #D97706;
}

.recipient-data-review-table-container {
    background-color: #fff;
    border-radius: var(--bd-radius);
    margin-top: 10px;
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: 100px;
    scrollbar-color: #D9D9D9;
    border: 1px solid var(--border-color);
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;
    margin-bottom: 35px;
}

.main-title {
    color: var(--title-color);
    font-size: 1.5rem;
}

.subtitle {
    font-size: 0.875rem;
    color: var(--text-color);
    margin-top: 5px;
    font-weight: normal;
}

.header-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.header-buttons button {
    /* all: unset; */
    border: none;
    flex-grow: 1;
}

.btn.primary.upload-forms {
    padding: 13px 40px;
}

.btn.secondary.upload-accounts {
    padding: 13px 29px;
}

/* Table styles */

.recipient-data-review-table {
    width: 100%;
    border-collapse: collapse;
}

.recipient-data-review-table th, .recipient-data-review-table td {
    text-align: left;
}

.recipient-data-review-table th {
    color: var(--title-color);
    font-size: 1rem;
}

.recipient-data-review-table .sort-icons {
    display: inline-block;
}

.recipient-data-review-table td {
    border-bottom: 1px solid #E5E7EB;
    font-size: 1rem;
    padding: 15px 0 15px 0;
    color: var(--text-color);
    width: 22%;
    vertical-align: middle;
}

.recipient-data-review-table tr:last-child td {
    padding: 15px 0 0 0;
}

.recipient-data-review-table tr td:last-child {
    width: 5%;
}

.recipient-data-review-table .review-page-circle {
    background-color: var(--btn-primary-color);
    display: flex;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

.recipient-data-review-table tr:last-child td {
    border-bottom: none;
}

.recipient-data-review-table th > img {
    vertical-align: sub;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--approved);
    display: inline-block;
    margin-right: 10px;
}

.test .p-confirm-dialog {
    padding: 20px;
}


::ng-deep .confirm-modal .p-dialog-header {
    padding: 20px 20px 0 20px;
    font-weight: bold;
    font-size: 1.125rem;
}

::ng-deep .confirm-modal .p-dialog-content {
    padding: 20px;
    max-width: 450px;
}

::ng-deep .confirm-modal .p-confirm-dialog-message {
    font-size: 1rem;
    color: var(--text-color);
}

::ng-deep .confirm-modal .p-dialog-footer {
    padding: 0 20px 20px 20px;
}

::ng-deep .confirm-modal .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff,0 0 0 4px var(--btn-primary-color), 0 1px 2px 0 black;
}

::ng-deep .confirm-modal .p-button:focus-visible {
    outline: 0;
}

::ng-deep .confirm-modal .p-dialog-footer .p-button {
    background-color: var(--btn-primary-color);
    border: none;
}