:host {
    --btn-paddings: 13px 40px;
}

::ng-deep .upload-forms-modal {
    max-width: 465px;
    width: 100%;
    /* height: 100%; */
}

::ng-deep .upload-forms-modal .invalid-field {
    color: var(--invalid);
}

::ng-deep .upload-forms-modal .input-label {
    color: var(--title-color);
    font-weight: 500;
    font-size: 1rem;
}

::ng-deep .upload-forms-modal .p-dialog-content form {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

::ng-deep .p-tooltip .p-tooltip-text{
    padding: 10px 10px;
    font-size: 0.875rem;
}

::ng-deep .upload-forms-modal .p-dropdown {
    border: 1px solid #E5E7EB;
    width: 100%;
    padding: 15px;
}

::ng-deep .upload-forms-modal .field {
    border: 1px solid #E5E7EB;
}

::ng-deep .upload-forms-modal .notes {
    height: 50px;
}

::ng-deep .upload-forms-modal .choose-and-label-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}

::ng-deep .upload-forms-modal .choose-and-label-container p {
    font-size: 12px;
    width: 150px;
}

::ng-deep .upload-forms-modal .p-button.p-fileupload-choose {
    background-color: var(--btn-secondary-color);
    color: var(--primary);
    padding: var(--btn-paddings);
    border-radius: var(--bd-radius);
    display: flex;
    width: fit-content;
    gap: 10px;
}

::ng-deep .upload-forms-modal .btn.secondary.active {
    background-color: var(--primary);
    color: white;
}


::ng-deep .upload-forms-modal .p-button.p-fileupload-choose.p-fileupload-choose-selected svg {
    margin-right: 0;
    /* width: 16px;
    height: 16px; */
}

::ng-deep .upload-forms-modal div.p-dialog-header.ng-tns-c1400914602-1.ng-star-inserted {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 20px;
}

::ng-deep .upload-forms-modal .header {
    display: flex;
    align-items: center;
    gap: 10px
}

::ng-deep .upload-forms-modal .header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--title-color);
}

::ng-deep .upload-forms-modal .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

::ng-deep .upload-forms-modal .buttons {
    display: flex;
    gap: 20px;
}

::ng-deep .upload-forms-modal .buttons button {
    padding: var(--btn-paddings);
}

::ng-deep .upload-forms-modal .action-buttons-container {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

::ng-deep .upload-forms-modal .action-buttons-container .btn {
    padding: var(--btn-paddings);
}

::ng-deep .upload-forms-modal .text-area {
    height: 1000px !important;
}