<p-dialog header="Upload Forms" (onHide)="hide()" [modal]="true" resizable="false" [(visible)]="isVisible" styleClass="upload-forms-modal">
    <div class="form-group">
        <label for="formType">Form Type</label>
        <p-dropdown [options]="formTypes" optionLabel="formType" placeholder="Select a form type"></p-dropdown>
    </div>

    <div class="form-group">
        <label for="fileTypes">File Type</label>
        <div class="buttons">
            <button class="btn secondary">Production</button>
            <button class="btn secondary">Test</button>
        </div>
    </div>
</p-dialog>